<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/UserLayout.css" />
    <link rel="stylesheet" href="~/view.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://www.nuk.edu.tw/">
                    <img src="~/image/circularlogo.png" alt="國立高雄大學" class="img-fluid" />
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
                    <h2>聘僱系統</h2>
                </div>
                @if (ViewData["isLogin"] != null && (int)ViewData["isLogin"] == 1){
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end userLogo">
                        @if (ViewData["isManager"] != null && (int)ViewData["isManager"] == 1){
                            <a href="@Url.Action("ManagerIndex", "Manager")">
                                <button class="switch-button">審查</button>
                            </a>
                            <a href="@Url.Action("UserIndex", "User", new { isLogin = ViewData["isLogin"],isManager = ViewData["isManager"] })">
                            <button class="switch-button">申請</button>
                            </a>
                        }
                        <img src="~/image/userlogo_black.png" alt="userlogo" class="img-fluid" />
                    </div>
                    <h2 class="userName"> @ViewData["userName"] </h2>
                    <button type="submit" class="logout-btn">
                        @* <img src="~/image/logout_black.png" alt="登出" class="logout-img" /> *@
                        <span class="logout-text">登出</span>
                    </button>
                }

            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
